.container2 {
    width: 100%;
    max-width: 320px;
    height: 200px;
    display: block;
    position: relative;
    perspective: 800px;
    border-radius: 10px;
    
}

@media (max-width:600px) {
  .container2{
    margin: auto;
  }
}


  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: #128bea;
    color: #fff;
    display: grid;
    place-items: center;
  }
  
  .back {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
  }
  
  .frontImage{
    z-index: -2;
  }
  
  .frontImage::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: grayscale(0%) blur(0px);
    -webkit-filter: grayscale(0%) blur(0px);
    background-image: inherit;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .frontText{
    z-index: 0;
  }

  .flipped {
    transform: rotateY(180deg);
  }
  
  .limit{
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .arrow-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    font-size: 18px;
    
  }
  .iconM{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .buttonMore{
    opacity: 1;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 5px;
    width: 100px;
  }

  .contentBack{
    overflow: auto;
  }

  .firstSidenav{
    background: rgb(255,143,0);
    background: linear-gradient(180deg, rgba(255,143,0,1) 74%, rgba(240,66,18,1) 100%);
    color: black;
   }

   .secondSidenav{
    background: rgb(236,64,122);
    background-color: linear-gradient(180deg, rgba(236,64,122,1) 74%, rgba(236,64,73,1) 100%);
    color: black;
   }

   .thirdSidenav{
    background: rgb(106,27,154);
    background: linear-gradient(180deg, rgba(106,27,154,1) 74%, rgba(154,27,123,1) 100%);
    color: white;
   }

   .fourthSidenav{
    background: rgb(0,121,107);
    background: linear-gradient(180deg, rgba(0,121,107,1) 74%, rgba(0,69,121,1) 100%);
    color: white;
   }