.content {
    text-align: start;
    font-size: 18px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.image {
    height:100%;
    max-height: 400px;
    max-width: 300px;
    width:auto;
    border-radius: 10px;
}

.imageContainer{
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 1350px) {


    .content {
        line-height: normal;
        font-size: 17px !important;
    }
  }

  @media (max-width: 600px) {

    .content {
        line-height: normal;
        font-size: 17px !important;
    }
  }

