
<mat-tab-group [style.background]="theme.surface.background" [style.color]="theme.base.color" 
[style.--background-color]="theme.surface.background" [style.--text-color]="theme.base.color" class="code">
    <mat-tab *ngFor="let item of code" [style.background]="theme.surface.background"  [style.color]="theme.base.color"> 
        <ng-template mat-tab-label>
            <span class="customTabName" [style.color]="theme.base.color">{{item.filename}}</span>
          </ng-template>
        <div class="header">
                <pre style="text-align: start; margin: 0">
                    <code  class="code-container scrollable" [highlight]="item.content" >
                    </code>
                </pre>
                <button mat-button class="menu-button mb-3 copy-alligned" matTooltip="Copiar Código" (click)="copyToClipboard(item.content)">
                    <mat-icon>file_copy</mat-icon>
                  </button>
        </div>
 </mat-tab>
  </mat-tab-group>