
<mat-tab-group>
    <mat-tab *ngFor="let item of code" label="{{item.filename}}"> 
        <div class="header">
                <pre style="text-align: start; margin: 0">
                    <code  class="code-container scrollable" [highlight]="item.content" >
                    </code>
                </pre>
                <button mat-button class="menu-button mb-3 copy-alligned" matTooltip="Copiar Código" (click)="copyToClipboard(item.content)">
                    <mat-icon>file_copy</mat-icon>
                  </button>
        </div>
 </mat-tab>
  </mat-tab-group>