/* You can add global styles to this file, and also import other style files */
// Imports functions, variables, and mixins that are needed by other Bootstrap files

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";// add css utilities

@import '~highlight.js/styles/androidstudio.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }

  .transparent{
    opacity: 40%;
  }

  ::ng-deep .mat-expansion-panel-header{
    transition: height 2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }