/* You can add global styles to this file, and also import other style files */
// Imports functions, variables, and mixins that are needed by other Bootstrap files

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-expansion-panel-header {
  transition: height 2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.mat-expansion-indicator::after {
  color: gray;
}

.floatChat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #24cacf;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 200;
  pointer-events: auto !important;
}

.my-floatChat {
  margin-top: 12px;
}

.window {
  position: fixed;
  bottom: 110px;
  right: 40px;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  z-index: 250;
  display: none;
  pointer-events: auto !important;
}

@media only screen and (max-width: 450px) {
  .window {
    width: 100%;
    height: 100%;
    display: none;
    bottom: 0px;
    right: 0px;
  }
}
